{% extends "base.html" %}
<head>
  {% block title %}Agenda{% endblock %}
</head>
<body>
  {% block content %}
  <div class="calendar">
    <div class="calendar-header">
      <span id="prev-month">&#9665;</span>
      <h1 id="month-year">Octubre 2023</h1>
      <span id="next-month">&#9655;</span>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal-content"></div>
        </div>
    </div>

    <!-- Incluye tu archivo JavaScript al final del body para asegurar que se cargue después del contenido HTML -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>

