{% extends "base.html" %}
<head>
    {% block title %}Agenda{% endblock %}
</head>
<body>
    {% block content %}
    <div class="calendar">
        <div class="calendar-header">
            <span id="prev-month">&#9665;</span>
            <h1 id="month-year">Octubre 2023</h1>
            <span id="next-month">&#9655;</span>
        </div>
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>Domingo</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="modal-close-button">&times;</span>
            <table id="horarios-table">
                <!-- Contenido de la tabla se generará dinámicamente aquí -->
            </table>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
</body>

