{% extends "base.html" %}
<head>
  {% block title %}Caja{% endblock %}
</head>
<body>
    {% block content %}
    <div class="col-md-12 container">
        <h3 class="text-left subtitulo mt-3">Mis saldos</h3>
        <div class="card-contenedor mb-3"> 
            <div class="card-body">
        <div class="table-responsive d-flex justify-content-center align-items-center mt-4" >
        <table class="table table-bordered m-1 mb-5" style="background-color: white;">
            <thead>
                <tr>
                    <td>Ingresos</td>
                    <td>${{ '{:,.2f}'.format(total_ingresos) }}</td>
                </tr>
                <tr>
                    <td>Egresos</td>
                    <td>${{ '{:,.2f}'.format(total_egresos) }}</td>
                </tr>
                <tr>
                    <td>Saldo</td>
                    <td>${{ '{:,.2f}'.format(saldo) }}</td>
                </tr>
        </table>
    </div>


</div>
</div>

    
    {% endblock %}
</body>
