{% extends "base.html" %}
<head>
    {% block title %}Egresos{% endblock %}
</head>
<body>
    {% block content %}
    
    <div class="row">
        
        <div class="col-md-10 container">
        <div class="card"> 
            <p class="text-left"> Egresos</p>
            <div class = "card-body">
                <form action="{{ url_for('egresos')}}" method="POST">
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <label >Nombre del servicio <span class="campo-obligatorio">*</span></label>
                            <input type="text" class="form-control mb-3" name="servicios"required>
                        </div>
                        <div class="col-md-3">
                            <label >Fecha de pago <span class="campo-obligatorio">*</span></label>
                            <input type="date" class="form-control mb-3" name="fecha_pago"required>
                        </div>
                        <div class="col-md-3">
                            <label >Monto <span class="campo-obligatorio">*</span></label>
                            <input type="number" class="form-control mb-3" name="monto" placeholder="$0.00" required/>
                        </div>
                        <div class="col-md-3">
                            <label >Medios de pago <span class="campo-obligatorio">*</span></label>
                            <input type="text" class="form-control mb-3" name="medios_de_pago"required>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary mb-3 mt-4" type="submit">Guardar</button>
                        </div>
                    </div>
                    <a href="/inicio" class="btn, text-center mb-4 mt-4 p-2" style="border: none;">Inicio</a>
                </form>

              
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Nombre del servicio</th>
                        <th scope="col">Fecha de pago</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Medio de pago</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </thead>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td>{{ d.id }}</td>
                            <td>{{ d.servicios }}</td>
                            <td>{{ d.fecha_pago }}</td>
                            <td>{{ d.monto }}</td>
                            <td>{{ d.medios_de_pago }}</td>
                            <td>
                                <button class="btn btn-primary btn-sm" id="btn-editar{{ d.id }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}">Editar</button>
                            </td>
                            <td>
                                <a href="{{ url_for('eliminar_egresos', id=d.id) }}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>

                        <!-- MODAL -->
                        <div class="modal fade" id="modal{{ d.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ d.servicios }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('editaregresos', id=d.id) }}" method="POST">
                                            <input type="hidden" name="id" value="{{ d.id }}">
                                            <label>Nombre del servicio <span class="campo-obligatorio">*</span></label>
                                            <input type="text" class="form-control mb-3" name="servicios" value="{{ d.servicios}}"required>
                                            <label>Fecha de pago <span class="campo-obligatorio">*</span></label>
                                            <input type="date" class="form-control mb-3" name="fecha_pago" value="{{ d.fecha_pago }}"required>
                                            <label>Monto <span class="campo-obligatorio">*</span></label>
                                            <input type="number" class="form-control mb-3" name="monto" placeholder="$0.00" value="{{ d.monto }}" required>
                                            <label>Medio de pago <span class="campo-obligatorio">*</span></label>
                                            <input type="text" class="form-control mb-3" name="medios_de_pago" value="{{ d.medios_de_pago }}"required>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
{% endblock %}
</body>
