{% extends "base.html" %}
<head>
    {% block title %}Egresos{% endblock %}
</head>
<body>
    {% block content %}
        <div class="col-md-12 container">
            <h3 class="text-left subtitulo mt-3">Egresos</h3>
            <div class="card-contenedor mb-3"> 
                <div class="card-body">
                    <form action="{{ url_for('egresos')}}" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label  class="label-form">Nombre del servicio o gasto <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="servicios" required value="{{ form_data.servicios if form_data else '' }}">
                            </div>
                            <script>
                                // Obtener el valor ingresado por el usuario en el campo de entrada de texto
                                const tipoGastoManual = document.querySelector('input[name="servicios"]').value.trim().toLowerCase();
                                
                                // Verificar si el tipo de gasto es uno de los gastos fijos mensuales
                                const gastosFijosMensuales = ["luz", "gas", "agua", "internet"];
                                
                                if (gastosFijosMensuales.includes(tipoGastoManual)) {
                                    // Aquí debes consultar el backend para verificar si este gasto ya se registró este mes
                                    // Si ya se registró, muestra un mensaje de error y evita enviar el formulario
                                    // Si no se registró, permite enviar el formulario sin restricciones
                                } else {
                                    // Para otros gastos, permite enviar el formulario sin restricciones
                                }
                            </script>                            
                            <div class="col-md-3">
                                <label class="label-form" >Fecha de pago <span class="campo-obligatorio">*</span></label>
                                <input type="date" class="form-control mb-3" name="fecha_pago" required value="{{ form_data.fecha_pago if form_data else '' }}">
                            </div>
                            <div class="col-md-3">
                                <label  class="label-form">Monto <span class="campo-obligatorio">*</span></label>
                                    <input type="text" class="form-control" name="monto" placeholder="0.00" required value="{{ form_data.monto if form_data else '' }}" id="montoInput">
                            </div>
                            <script>
                            // Obtener el campo de entrada por su ID
                            var montoInput = document.getElementById('montoInput');
                            
                            // Agregar un manejador de eventos para el evento 'input'
                            montoInput.addEventListener('input', function() {
                                // Obtener la posición actual del cursor
                                var cursorPosition = montoInput.selectionStart;
                              
                                // Obtener el valor actual del campo
                                var valor = montoInput.value;
                                
                                // Quitar cualquier carácter que no sea un número o punto
                                valor = valor.replace(/[^0-9.]/g, '');
                                
                                // Formatear el valor con dos decimales
                                valor = parseFloat(valor).toFixed(2);
                                
                                // Agregar separadores de miles y el signo de dólar
                                valor = '$' + valor.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                
                                // Asignar el valor formateado de nuevo al campo
                                montoInput.value = valor;
                                
                                // Restaurar la posición del cursor después del formato
                                var newPos = cursorPosition + (valor.length - montoInput.value.length);
                                montoInput.setSelectionRange(newPos, newPos);
                            });
                            </script> 
                            <div class="col-md-3">
                                <label class="form-label label-with-arrow">
                                    Medios de pago <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="medios_de_pago" required value="{{ form_data.medios_de_pago if form_data else '' }}">
                                            <option value="Efectivo" {% if data.medios_de_pago == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                                            <option value="Mercado pago" {% if data.medios_de_pago == 'Mercado pago' %}selected{% endif %}>Mercado pago</option>
                                            <option value="Cuenta DNI" {% if data.medios_de_pago == 'Cuenta DNI' %}selected{% endif %}>Cuenta DNI</option>
                                        </select>         
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <div class="btn-container text-center">
                                    <button type="submit" class="btn-guardar" data-bs-toggle="modal" data-bs-target="#confirmarGuardarEgresos">Guardar</button>
                                </div>
                            </div>

                            <div class="btn-container">
                                <!-- Modal de confirmación para guardar un alumno -->
                                <div class="modal fade" id="confirmarGuardarEgresos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Guardar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de guardar este alumno?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-guardar" style="background-color: #92BD89; color: #ffff;" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn-guardar">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                        </div>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for category, message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
                <div class="row mb-3">
                    <div class="form-inline">
                        <input type="text" class="form-control" id="busquedaInput" placeholder="Buscar egreso">
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="miTabla"  class="table table-bordered m-1 mb-2" style="background-color: white;">
                       
                        <thead>
                
                        <th class="col-tabla" scope="col">Nombre del servicio o gasto</th>
                        <th class="col-tabla" scope="col">Fecha de pago</th>
                        <th class="col-tabla" scope="col">Monto</th>
                        <th class="col-tabla" scope="col">Medio de pago</th>
                        <th class="col-tabla" scope="col" colspan="2"></th>
                       
                    </thead>
                </div>
                    <tbody>
                        {% for d in data %}
                        <tr>
                       
                            <td class="td-table">{{ d.servicios.title() }}</td>
                            <td class="td-table">{{ d.fecha_pago.strftime('%d/%m/%Y') }}</td>
                            <td class="td-table">${{ '{:,.2f}'.format(d.monto) }}</td>
                            <td class="td-table">{{ d.medios_de_pago }}</td>
                            <td class="text-center "> <i class="btn-operacion bi bi-pencil-square " id="btn-editar{{ d.id }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}"></i></td>
                            <td class="text-center"> 
                                <a href="#" onclick="confirmarEliminacionEgresos('{{ d.id }}', '{{ d.servicios }}')" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                                    <i class="btn-operacion bi bi-trash"></i>
                                </a>
                            </td>
                            
                            
                        </tr>
                       
                        <!-- MODAL -->
                        <div class="modal fade" id="modal{{ d.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ d.servicios }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('editaregresos', id=d.id) }}" method="POST">
                                            <div class="row">
                                                <div class="col-6">
                                                    <input type="hidden" name="id" value="{{ d.id }}">
                                                    <label>Nombre del servicio <span class="campo-obligatorio">*</span></label>
                                                    <input type="text" class="form-control mb-3" name="servicios" value="{{ d.servicios }}" required value="{{ form_data.servicios if form_data else '' }}">
                                                </div>
                                                <div class="col-6">
                                                    <label>Fecha de pago <span class="campo-obligatorio">*</span></label>
                                                    <input type="date" class="form-control mb-3" name="fecha_pago" value="{{ d.fecha_pago }}" required value="{{ form_data.fecha_pago if form_data else '' }}">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <label>Monto <span class="campo-obligatorio">*</span></label>
                                                    <input type="text" class="form-control" name="monto" placeholder="0.00" value="{{ d.monto }}" required value="{{ form_d.monto if form_data else '' }}" id="montoInput">
                                                </div>

                                                <script>
                                                    // Obtener el campo de entrada por su ID
                                                    var montoInput = document.getElementById('montoInput');
                                                    
                                                    // Agregar un manejador de eventos para el evento 'input'
                                                    montoInput.addEventListener('input', function() {
                                                        // Obtener la posición actual del cursor
                                                        var cursorPosition = montoInput.selectionStart;
                                                      
                                                        // Obtener el valor actual del campo
                                                        var valor = montoInput.value;
                                                        
                                                        // Quitar cualquier carácter que no sea un número o punto
                                                        valor = valor.replace(/[^0-9.]/g, '');
                                                        
                                                        // Formatear el valor con dos decimales
                                                        valor = parseFloat(valor).toFixed(2);
                                                        
                                                        // Agregar separadores de miles y el signo de dólar
                                                        valor = '$' + valor.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                                        
                                                        // Asignar el valor formateado de nuevo al campo
                                                        montoInput.value = valor;
                                                        
                                                        // Restaurar la posición del cursor después del formato
                                                        var newPos = cursorPosition + (valor.length - montoInput.value.length);
                                                        montoInput.setSelectionRange(newPos, newPos);
                                                    });
                                                    </script>
                                                <div class="col-6">
                                                    <label class="label-with-arrow">
                                                    Medios de pago <span class="campo-obligatorio">*</span>
                                                    <div class="select-container">
                                                        <select class="form-control mb-3" name="medios_de_pago" required value="{{ form_data.medios_de_pago if form_data else '' }}">
                                                            <option value="Efectivo" {% if d.medios_de_pago == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                                                            <option value="Mercado pago" {% if d.medios_de_pago == 'Mercado pago' %}selected{% endif %}>Mercado pago</option>
                                                            <option value="Cuenta DNI" {% if d.medios_de_pago == 'Cuenta DNI' %}selected{% endif %}>Cuenta DNI</option>
                                                        </select>         
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                        </svg>
                                                    </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <div class="btn-container">
                                                    <button type="submit" class="btn-guardar">Guardar</button>
                                                <div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <script>
                               // Obtener el campo de búsqueda y la tabla
            var busquedaInput = document.getElementById('busquedaInput');
            var tablaAlumnos = document.querySelector('.table');
            
            // Agregar un evento de escucha para la entrada del usuario
            busquedaInput.addEventListener('input', function() {
                var consulta = busquedaInput.value.toLowerCase();
            
                // Obtener todas las filas de la tabla
                var filas = tablaAlumnos.querySelectorAll('tbody tr');
            
                // Iterar a través de las filas y celdas y ocultar/mostrar según la consulta
                for (var i = 0; i < filas.length; i++) {
                    var fila = filas[i];
                    var mostrarFila = false;
            
                    // Obtener todas las celdas de la fila
                    var celdas = fila.querySelectorAll('td');
            
                    // Iterar a través de las celdas y verificar si alguna contiene la consulta
                    for (var j = 0; j < celdas.length; j++) {
                        var celda = celdas[j];
                        var contenidoCelda = celda.textContent.toLowerCase();
            
                        if (contenidoCelda.includes(consulta)) {
                            mostrarFila = true; // Mostrar la fila si se encuentra una coincidencia
                            break; // No es necesario verificar otras celdas una vez que se encuentra una coincidencia
                        }
                    }
            
                    if (mostrarFila) {
                        fila.style.display = ''; // Mostrar la fila
                    } else {
                        fila.style.display = 'none'; // Ocultar la fila si no hay coincidencias
                    }
                }
            });

                        </script>
                    </tbody>
                 
                </table>
                <div id="paginacion" class="text-right">
                    <button id="anterior" class="btn-lineales"><i class="bi bi-arrow-left-circle"></i></button>
                    <button id="siguiente" class="btn-lineales"><i class="bi bi-arrow-right-circle"></i></button>
                  </div>
       
    </div>
    <script>
        const table = document.getElementById("miTabla");
        const rows = table.tBodies[0].rows;
        const perPage = 4; // Número fijo de filas por página.
        let currentPage = localStorage.getItem("currentPage") || 0;
      
        function showPage(page) {
          for (let i = 0; i < rows.length; i++) {
            if (i >= page * perPage && i < (page + 1) * perPage) {
              rows[i].style.display = "";
            } else {
              rows[i].style.display = "none";
            }
          }
        }
      
        function saveCurrentPage() {
          localStorage.setItem("currentPage", currentPage);
        }
      
        document.getElementById("anterior").addEventListener("click", () => {
          if (currentPage > 0) {
            currentPage--;
            showPage(currentPage);
            saveCurrentPage();
          }
        });
      
        document.getElementById("siguiente").addEventListener("click", () => {
          const totalPages = Math.ceil(rows.length / perPage);
          if (currentPage < totalPages - 1) {
            currentPage++;
            showPage(currentPage);
            saveCurrentPage();
          }
        });
      
        // Mostrar la página guardada al cargar la página.
        showPage(currentPage);
      </script>     
<!-- Agrega el cuadro de diálogo de confirmación para eliminar un egreso -->
<script>
    function confirmarEliminacionEgresos(id, nombreEgreso) {
        Swal.fire({
            title: "Confirmar eliminación",
            text: `¿Estás seguro de eliminar el egreso "${nombreEgreso}"?`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#FF5733",
            cancelButtonColor: "#7ea56a",
            confirmButtonText: "Sí, eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                // Realiza la eliminación del egreso a través de una solicitud AJAX
                $.ajax({
                    type: "GET",
                    url: "/eliminar_egresos/" + id,
                    success: function (response) {
                        if (response.success) {
                            Swal.fire("Egreso eliminado correctamente", "", "success").then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire("Error al eliminar el egreso", response.error_message, "error");
                        }
                    }
                });
            }
        });
    }
    </script>
    
    
    
    {% endblock %}
</body>
        
