{% extends "base.html" %}
<head>
    {% block title %}Egresos{% endblock %}
</head>
<body>
    {% block content %}
    <div class="row">
        <div class="col-md-10 container">
            <p class="text-left"> Egresos</p>
            <div class="card"> 
                <div class="card-body">
                    <form action="{{ url_for('egresos')}}" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <label >Nombre del servicio o gasto <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="servicios" required value="{{ form_data.servicios if form_data else '' }}">
                            </div>
                            <div class="col-md-3">
                                <label >Fecha de pago <span class="campo-obligatorio">*</span></label>
                                <input type="date" class="form-control mb-3" name="fecha_pago" required value="{{ form_data.fecha_pago if form_data else '' }}">
                            </div>
                            <div class="col-md-3">
                                <label>Monto <span class="campo-obligatorio">*</span></label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" name="monto" placeholder="0.00" required
                                           value="{{ form_data.monto if form_data else '' }}" id="montoInput">
                                </div>
                            </div>
                            <script>
                            // Obtener el campo de entrada por su ID
                            var montoInput = document.getElementById('montoInput');
                            
                            // Agregar un manejador de eventos para el evento 'input'
                            montoInput.addEventListener('input', function() {
                                // Obtener la posición actual del cursor
                                var cursorPosition = montoInput.selectionStart;
                              
                                // Obtener el valor actual del campo
                                var valor = montoInput.value;
                                
                                // Quitar cualquier carácter que no sea un número o punto
                                valor = valor.replace(/[^0-9.]/g, '');
                                
                                // Formatear el valor con dos decimales
                                valor = parseFloat(valor).toFixed(2);
                                
                                // Agregar separadores de miles y el signo de dólar
                                valor = '$' + valor.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                
                                // Asignar el valor formateado de nuevo al campo
                                montoInput.value = valor;
                                
                                // Restaurar la posición del cursor después del formato
                                var newPos = cursorPosition + (valor.length - montoInput.value.length);
                                montoInput.setSelectionRange(newPos, newPos);
                            });
                            </script> 
                            <div class="col-md-3">
                                <label class="label-with-arrow">
                                    Medios de pago <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="medios_de_pago" required value="{{ form_data.medios_de_pago if form_data else '' }}">
                                            <option value="Efectivo" {% if data.medios_de_pago == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                                            <option value="Mercado pago" {% if data.medios_de_pago == 'Mercado pago' %}selected{% endif %}>Mercado pago</option>
                                            <option value="Cuenta DNI" {% if data.medios_de_pago == 'Cuenta DNI' %}selected{% endif %}>Cuenta DNI</option>
                                        </select>         
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="btn-container">
                                    <button type="submit" class="btn-guardar">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <div class="alert alert-danger" role="alert">
                        {% for category, message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label>Buscar Egreso:</label>
                        <input type="text" class="form-control" id="busquedaInput" placeholder="Escriba el nombre del servicio, monto, etc">
                    </div>
                </div>
                <div class="table-container">
                    <table class="table table-bordered m-1 mb-5" style="background-color: white;">
                    <thead>
                
                        <th class="title" scope="col">Nombre del servicio o gasto</th>
                        <th class="title" scope="col">Fecha de pago</th>
                        <th class="title" scope="col">Monto</th>
                        <th class="title" scope="col">Medio de pago</th>
                        <th class="title" scope="col" colspan="2">Acciones</th>
                    </thead>
                </div>
                    <tbody>
                        {% for d in data %}
                        <tr>
                       
                            <td>{{ d.servicios }}</td>
                            <td>{{ d.fecha_pago.strftime('%d/%m/%Y') }}</td>
                            <td>${{ '{:,.2f}'.format(d.monto) }}</td>
                            <td>{{ d.medios_de_pago }}</td>
                            <td class="text-center "> <i class="btn-operacion bi bi-pencil-square " id="btn-editar{{ d.id }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}"></i></td>
                            <td class="text-center"> <a href="{{ url_for('eliminar_egresos', id=d.id) }}" ><i class="btn-operacion bi bi-trash"></i></a></td>
                        </tr>
                        <!-- MODAL -->
                        <div class="modal fade" id="modal{{ d.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ d.servicios }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{ url_for('editaregresos', id=d.id) }}" method="POST">
                                            <input type="hidden" name="id" value="{{ d.id }}">
                                            <label>Nombre del servicio <span class="campo-obligatorio">*</span></label>
                                            <input type="text" class="form-control mb-3" name="servicios" value="{{ d.servicios }}" required value="{{ form_data.servicios if form_data else '' }}">
                                            <label>Fecha de pago <span class="campo-obligatorio">*</span></label>
                                            <input type="date" class="form-control mb-3" name="fecha_pago" value="{{ d.fecha_pago }}" required value="{{ form_data.fecha_pago if form_data else '' }}">
                                            <div class="col-md-3">
                                                <label>Monto <span class="campo-obligatorio">*</span></label>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">$</span>
                                                    <input type="text" class="form-control" name="monto" placeholder="0.00" required
                                                           value="{{ form_data.monto if form_data else '' }}" id="montoInput">
                                                </div>
                                            </div>
                                            <script>
                                            // Obtener el campo de entrada por su ID
                                            var montoInput = document.getElementById('montoInput');
                                            
                                            // Agregar un manejador de eventos para el evento 'input'
                                            montoInput.addEventListener('input', function() {
                                                // Obtener la posición actual del cursor
                                                var cursorPosition = montoInput.selectionStart;
                                              
                                                // Obtener el valor actual del campo
                                                var valor = montoInput.value;
                                                
                                                // Quitar cualquier carácter que no sea un número o punto
                                                valor = valor.replace(/[^0-9.]/g, '');
                                                
                                                // Formatear el valor con dos decimales
                                                valor = parseFloat(valor).toFixed(2);
                                                
                                                // Agregar separadores de miles y el signo de dólar
                                                valor = '$' + valor.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                                
                                                // Asignar el valor formateado de nuevo al campo
                                                montoInput.value = valor;
                                                
                                                // Restaurar la posición del cursor después del formato
                                                var newPos = cursorPosition + (valor.length - montoInput.value.length);
                                                montoInput.setSelectionRange(newPos, newPos);
                                            });
                                            </script> 
                                            <div class="col-md-3">
                                                <label>Medios de pago <span class="campo-obligatorio">*</span></label>
                                                <select class="form-control mb-3 custom-select" name="medios_de_pago" required>
                                                    {% for option in ['Efectivo', 'Mercado pago', 'Cuenta DNI'] %}
                                                        <option value="{{ option }}" {% if d.medios_de_pago == option %}selected{% endif %}>{{ option }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="col-md-3 text-center">
                                                    <div class="btn-container">
                                                        <button type="submit" class="btn-guardar">Guardar cambios</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <script>
                            // Obtener el campo de búsqueda y la tabla
                            var busquedaInput = document.getElementById('busquedaInput');
                            var tablaEgresos = document.querySelector('.table');
                            
                            // Agregar un evento de escucha para la entrada del usuario
                            busquedaInput.addEventListener('input', function() {
                                var consulta = busquedaInput.value.toLowerCase();
                            
                                // Obtener todas las filas de la tabla
                                var filas = tablaEgresos.querySelectorAll('tbody tr');
                            
                                // Iterar a través de las filas y ocultar/mostrar según la consulta
                                for (var i = 0; i < filas.length; i++) {
                                    var fila = filas[i];
                                    var nombreServicio = fila.querySelector('td:nth-child(2)').textContent.toLowerCase();
                                    var fechaPago = fila.querySelector('td:nth-child(3)').textContent.toLowerCase();
                                    var monto = fila.querySelector('td:nth-child(4)').textContent.toLowerCase();
                                    var medioPago = fila.querySelector('td:nth-child(5)').textContent.toLowerCase();
                            
                                    if (nombreServicio.includes(consulta) || fechaPago.includes(consulta) || monto.includes(consulta) || medioPago.includes(consulta)) {
                                        fila.style.display = ''; // Mostrar la fila
                                    } else {
                                        fila.style.display = 'none'; // Ocultar la fila
                                    }
                                }
                            });
                            </script>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
        
