{% extends "base.html" %}

<head>
    {% block title %}Nuevo alumno{% endblock %}
</head>

<body>

    {% block content %}

        <div class="col-md-12 container">
            <h3 class="text-left subtitulo mt-3">Nuevo alumno</h3>
            <div class="card-contenedor mb-3">
                <div class="card-body">
                    <form action="/agregarAlumno" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Nombre <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="nombre" id="nombre" required value="{{ form_data.nombre if form_data else '' }}">
                                <div id="nombre-error" class="error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Apellido <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="apellido" id="apellido" required value="{{ form_data.apellido if form_data else '' }}">
                                <div id="apellido-error" class="error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Email <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="email" id="email" required value="{{ form_data.email if form_data else '' }}">                            
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Telefono <span class="campo-obligatorio">*</span></label>
                                <input type="tel" class="form-control mb-3" name="telefono" id="telefono" pattern="[0-9]+"  required value="{{ form_data.telefono if form_data else '' }}">
                                <div id="telefono-error" class=" error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Fecha de nacimiento <span class="campo-obligatorio">*</span></label>
                                <input type="date" class="form-control mb-3" name="fecha_nacimiento" id="fecha_nacimiento" required value="{{ form_data.fecha_nacimiento if form_data else '' }}">
                                <div id="fecha-nacimiento-error" class=" error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Fecha de inicio <span class="campo-obligatorio">*</span></label>
                                <input type="date" class="form-control mb-3" name="fecha_inicio" id="fecha_inicio" required value="{{ form_data.fecha_inicio if form_data else '' }}">
                                <div id="fecha-inicio-error" class=" error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Colegio <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="colegio" required value="{{ form_data.colegio if form_data else '' }}">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form label-with-arrow">
                                    Curso <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="curso" required value="{{ form_data.curso if form_data else '' }}">
                                            {% for option in ['Primero', 'Segundo', 'Tercero','Cuarto','Quinto','Sexto'] %}
                                            <option value="{{ option }}" {% if data.curso == option %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12" >
                                <label class="label-form label-with-arrow">
                                    Nivel educativo <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="nivel_educativo" required value="{{ form_data.nivel_educativo if form_data else '' }}">
                                            {% for option in ['Primario', 'Secundario', 'Terciario'] %}
                                            <option value="{{ option }}" {% if data.nivel_educativo == option %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Nombre tutor <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control mb-3" name="nombre_titular" id="nombre_titular" required value="{{ form_data.nombre_titular if form_data else '' }}">
                                <div id="nombre-titular-error" class=" error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <label  class="label-form">Telefono tutor <span class="campo-obligatorio">*</span></label>
                                <input type="tel" class="form-control mb-3" name="telefono_titular"   id="telefono_titular" maxlength="10" required value="{{ form_data.telefono_titular if form_data else '' }}">
                                <div id="telefono-titular-error" class="error-message"></div> 
                            </div>
                            <div class="col-md-3 col-sm-12">
                                    Día <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="dia[]" style="display: none;">
                                            {% for option in ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes'] %}
                                            <option value="{{ option }}" {% if option in data.dia %}selected{% endif %}>{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="checkbox-container">
                                        <label>
                                            <input type="checkbox" name="dia[]" value="Lunes" {% if 'Lunes' in data.dia %}checked{% endif %}> Lunes
                                        </label>
                                        <label>
                                            <input type="checkbox" name="dia[]" value="Martes" {% if 'Martes' in data.dia %}checked{% endif %}> Martes
                                        </label>
                                        <label>
                                            <input type="checkbox" name="dia[]" value="Miércoles" {% if 'Miércoles' in data.dia %}checked{% endif %}> Miércoles
                                        </label>
                                        <label>
                                            <input type="checkbox" name="dia[]" value="Jueves" {% if 'Jueves' in data.dia %}checked{% endif %}> Jueves
                                        </label>
                                        <label>
                                            <input type="checkbox" name="dia[]" value="Viernes" {% if 'Viernes' in data.dia %}checked{% endif %}> Viernes
                                        </label>
                                    </div>
                            </div>
                            
                            <div class="col-md-3 col-sm-12">
                                <label class="label-form">Horario <span class="campo-obligatorio">*</span></label>
                                <input class="form-control mb-3" type="time" id="horario" name="horario" required value="{{ form_data.horario if form_data else '' }}">
                            </div>
                            <div class="col-md-3 col-sm-12">
                                Materia <span class="campo-obligatorio">*</span>
                                <div class="select-container">
                                    <select class="form-control mb-3" name="materia[]" style="display: none;">
                                        {% for option in ['Inglés', 'Matemática', 'Prácticas del lenguaje','Historia', 'Geografía', 'Biología', 'Contabilidad', 'Literatura'] %}
                                        <option value="{{ option }}" {% if option in data.dia %}selected{% endif %}>{{ option }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="checkbox-container">
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Inglés" {% if 'Inglés' in data.dia %}checked{% endif %}> Inglés
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Matemática" {% if 'Matemática' in data.dia %}checked{% endif %}> Matemática
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Practicas_del_lenguaje" {% if 'Prácticas_del_lenguaje' in data.dia %}checked{% endif %}> Practicas del lenguaje
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Historia" {% if 'Historia' in data.dia %}checked{% endif %}> Historia
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Geografia" {% if 'Geografia' in data.dia %}checked{% endif %}> Geografia
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Biologia" {% if 'Biologia' in data.dia %}checked{% endif %}> Biologia
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Contabilidad" {% if 'Contabilidad' in data.dia %}checked{% endif %}> Contabilidad
                                    </label>
                                    <label>
                                        <input type="checkbox" name="materia[]" value="Literatura" {% if 'Literatura' in data.dia %}checked{% endif %}> Literatura
                                    </label>
                                </div>
                        </div>
                            <div class="col-md-3 col-sm-12">
                                <div class="btn-container">
                                    <button type="button" class="btn-guardar" data-bs-toggle="modal" data-bs-target="#confirmarGuardar">Guardar alumno</button>
                                 <!-- Modal de confirmación para guardar un alumno -->
                                 <div class="modal fade" id="confirmarGuardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Guardar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de guardar este alumno?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-guardar" style="background-color: #92BD89; color: #ffff;" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn-guardar">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>                 
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for category, message in messages %}
                            {{ message }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                        
                        </form>
                    </div>
                </div>
                
                <a href="/listado">Ver Listado</a>

                
            
                            
                       
                </div>
            </div>
        </div>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
    function validarCampo(inputId, errorId, mensajeError, regex) {
        var input = document.getElementById(inputId);
        var error = document.getElementById(errorId);

        input.addEventListener('input', function() {
            var valor = input.value.trim();

            if (!regex.test(valor)) {
                error.style.display = 'block';
                error.textContent = mensajeError;
            } else {
                error.style.display = 'none';
            }
        });
    }

    // Expresión regular para validar que el campo de teléfono contiene solo números
    var numerosRegex = /^[0-9]+$/;

    // Expresión regular para validar que los campos de nombre y apellido contienen solo letras y espacios
    var letrasRegex = /^[a-zA-Z\s]*$/;

    // Llama a la función de validación para el campo de nombre
    validarCampo('nombre', 'nombre-error', 'El nombre solo debe contener letras y espacios.', letrasRegex);

    // Llama a la función de validación para el campo de apellido
    validarCampo('apellido', 'apellido-error', 'El apellido solo debe contener letras y espacios.', letrasRegex);

    // Llama a la función de validación para el campo de teléfono
    validarCampo('telefono', 'telefono-error', 'Por favor, ingresa solo números en el teléfono.', numerosRegex);
    // Llama a la función de validación para el campo de nombre del tutor
    validarCampo('nombre_titular', 'nombre-titular-error', 'El nombre del tutor solo debe contener letras y espacios.', letrasRegex);

    // Llama a la función de validación para el campo de teléfono del tutor
    validarCampo('telefono_titular', 'telefono-titular-error', 'Por favor, ingresa solo números en el teléfono del tutor.', numerosRegex);
    

    var fechaNacimientoInput = document.getElementById('fecha_nacimiento');
    var fechaNacimientoError = document.getElementById('fecha-nacimiento-error');
    var fechaInicioInput = document.getElementById('fecha_inicio');
    var fechaInicioError = document.getElementById('fecha-inicio-error');

    // Expresión regular para validar que el campo de fecha de nacimiento tiene el formato correcto (YYYY-MM-DD)
    var fechaRegex = /^\d{4}-\d{2}-\d{2}$/;

    validarCampo('fecha_nacimiento', 'fecha-nacimiento-error', 'Por favor, ingresa una fecha válida (YYYY-MM-DD).', fechaRegex);

    fechaNacimientoInput.addEventListener('input', function() {
        var fechaNacimiento = new Date(fechaNacimientoInput.value);
        var fechaActual = new Date();
        var fechaHace6Anios = new Date();
        fechaHace6Anios.setFullYear(fechaActual.getFullYear() - 6);

        if (isNaN(fechaNacimiento.getTime())) {
            fechaNacimientoError.textContent = 'Por favor, ingresa una fecha válida.';
            fechaNacimientoError.style.display = 'block';
        } else {
            fechaNacimientoError.style.display = 'none';

            if (fechaNacimiento >= fechaActual) {
                fechaNacimientoError.textContent = 'La fecha de nacimiento no puede ser la fecha actual.';
                fechaNacimientoError.style.display = 'block';
            } else if (fechaNacimiento >= fechaHace6Anios) {
                fechaNacimientoError.textContent = 'La fecha de nacimiento debe ser anterior a los últimos 6 años.';
                fechaNacimientoError.style.display = 'block';
            } else {
                fechaNacimientoError.style.display = 'none';

                // Validación en comparación con la fecha de inicio
                var fechaInicio = new Date(fechaInicioInput.value);
                if (fechaInicio <= fechaNacimiento) {
                    fechaInicioError.textContent = 'La fecha de inicio debe ser posterior a la fecha de nacimiento.';
                    fechaInicioError.style.display = 'block';
                } else {
                    fechaInicioError.style.display = 'none';
                }
            }
        }
    });

    fechaInicioInput.addEventListener('input', function() {
        // Validación en comparación con la fecha de nacimiento
        var fechaNacimiento = new Date(fechaNacimientoInput.value);
        var fechaInicio = new Date(fechaInicioInput.value);

        if (fechaInicio <= fechaNacimiento) {
            fechaInicioError.textContent = 'La fecha de inicio debe ser posterior a la fecha de nacimiento.';
            fechaInicioError.style.display = 'block';
        } else {
            fechaInicioError.style.display = 'none';
        }
    });

});

        </script>
            
        <script>
            // Obtener el campo de búsqueda y la tabla
            var busquedaInput = document.getElementById('busquedaInput');
            var tablaAlumnos = document.querySelector('.table');
            
            // Agregar un evento de escucha para la entrada del usuario
            busquedaInput.addEventListener('input', function() {
                var consulta = busquedaInput.value.toLowerCase();
            
                // Obtener todas las filas de la tabla
                var filas = tablaAlumnos.querySelectorAll('tbody tr');
            
                // Iterar a través de las filas y celdas y ocultar/mostrar según la consulta
                for (var i = 0; i < filas.length; i++) {
                    var fila = filas[i];
                    var mostrarFila = false;
            
                    // Obtener todas las celdas de la fila
                    var celdas = fila.querySelectorAll('td');
            
                    // Iterar a través de las celdas y verificar si alguna contiene la consulta
                    for (var j = 0; j < celdas.length; j++) {
                        var celda = celdas[j];
                        var contenidoCelda = celda.textContent.toLowerCase();
            
                        if (contenidoCelda.includes(consulta)) {
                            mostrarFila = true; // Mostrar la fila si se encuentra una coincidencia
                            break; // No es necesario verificar otras celdas una vez que se encuentra una coincidencia
                        }
                    }
            
                    if (mostrarFila) {
                        fila.style.display = ''; // Mostrar la fila
                    } else {
                        fila.style.display = 'none'; // Ocultar la fila si no hay coincidencias
                    }
                }
            });
            </script>                     

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    // Espera a que se cargue el documento
    document.addEventListener("DOMContentLoaded", function() {
        // Obtiene el formulario
        var form = document.querySelector("form");

        // Agrega un event listener para el envío del formulario
        form.addEventListener("submit", function(event) {
            event.preventDefault(); // Evita el envío del formulario

            // Aquí puedes hacer una solicitud AJAX para enviar el formulario al servidor
            // y luego mostrar el SweetAlert en la respuesta exitosa.

            // Ejemplo de una solicitud AJAX (usando Fetch API):
            fetch("/agregarAlumno", {
                method: "POST",
                body: new FormData(form)
            })
            .then(function(response) {
                if (response.ok) {
                    // El formulario se envió con éxito, muestra el SweetAlert
                    Swal.fire({
                        title: "Alumno ingresado correctamente",
                        icon: "success"
                    });
                } else {
                    // Mostrar SweetAlert con un mensaje de error si es necesario
                    Swal.fire({
                        title: "Hubo un error al ingresar al alumno",
                        text: "Por favor, inténtalo de nuevo.",
                        icon: "error"
                    });
                }
            })
            .catch(function(error) {
                console.error("Error en la solicitud: " + error);
            });
        });
    });
</script>

</body>
