{% extends "base.html" %}

<head>
    {% block title %}Ingresos{% endblock %}
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    {% block content %} 
        <div class="col-md-12 container">
            <h3 class="text-left subtitulo mt-3">Ingresos</h3>
            <div class="card-contenedor mb-3">  
                <div class="card-body">
                    <form action="{{ url_for('ingresos')}}" method="POST">
                        <div class="row mb-3">
                            <div class="col ">
                                <label class="label-form label-with-arrow">
                                    Nombre <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="nombre_alumno" id="nombre_alumno" class="form-control mb-3">
                                            {% for alumno in nombres_apellidos %}
                                                <option value="{{ alumno }}">{{ alumno }}</option>
                                            {% endfor %}
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>                            
                            <div class="col">
                                <label class="label-form">Fecha de pago <span class="campo-obligatorio">*</span></label>
                                <input type="date" class="form-control mb-3" name="fecha_pago" id="fecha_pago" required value="{{ form_data.fecha_pago if form_data else '' }}">
                                <div id="fecha-pago-error" class="error-message"></div> 
                            </div>
                            <div class="col ">
                                <label class="label-form">Monto <span class="campo-obligatorio">*</span></label>
                                <input type="text" class="form-control " name="monto" placeholder="0.00" required value="{{ form_data.monto if form_data else '' }}" id="montoInput">
                            </div>
                          
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {
                                    var fechaPagoInput = document.getElementById('fecha_pago');
                                    var fechaPagoError = document.getElementById('fecha-pago-error');
                                    var montoInput = document.getElementById('montoInput');
                                    
                                    fechaPagoInput.addEventListener('input', function() {
                                        var fechaPago = new Date(fechaPagoInput.value);
                                        var fechaActual = new Date();
                                
                                        if (fechaPago > fechaActual) {
                                            fechaPagoError.style.display = 'block'; // Muestra el mensaje de error
                                            fechaPagoError.textContent = 'La fecha de pago no puede ser posterior a la fecha actual.';
                                            fechaPagoInput.value = ''; // Limpia el campo si la fecha es inválida
                                        } else {
                                            fechaPagoError.style.display = 'none'; // Oculta el mensaje de error si no hay error
                                        }
                                    });
                                
                                    montoInput.addEventListener('input', function() {
                                        var cursorPosition = montoInput.selectionStart;
                                        var valor = montoInput.value;
                                        
                                        valor = valor.replace(/[^0-9.]/g, '');
                                        valor = parseFloat(valor).toFixed(2);
                                        valor = '$' + valor.replace(/\d(?=(\d{3})+\.)/g, '$&,');
                                        
                                        montoInput.value = valor;
                                        
                                        var newPos = cursorPosition + (valor.length - montoInput.value.length);
                                        montoInput.setSelectionRange(newPos, newPos);
                                    });
                                });
                                </script>
                                                                                                                   
                            <div class="col">
                                <label class="label-with-arrow">
                                    Medios de pago <span class="campo-obligatorio">*</span>
                                    <div class="select-container">
                                        <select class="form-control mb-3" name="medios_de_pago" required value="{{ form_data.medios_de_pago if form_data else '' }}">
                                            <option value="Efectivo" {% if data.medios_de_pago == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                                            <option value="Mercado pago" {% if data.medios_de_pago == 'Mercado pago' %}selected{% endif %}>Mercado pago</option>
                                            <option value="Cuenta DNI" {% if data.medios_de_pago == 'Cuenta DNI' %}selected{% endif %}>Cuenta DNI</option>
                                        </select>         
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </label>
                            </div>
                            <div class="col">
                                <label class="label-form label-with-arrow">
                                    Tipo de pago <span class="campo-obligatorio">*</span>
                                        <div class="select-container">
                                            <select class="form-control mb-3" name="tipo_pago" required value="{{ form_data.tipo_pago if form_data else '' }}">
                                                <option value="Mensual" {% if data.tipo_pago == 'Mensual' %}selected{% endif %}>Mensual</option>
                                                <option value="Diario" {% if data.tipo_pago == 'Diario' %}selected{% endif %}>Diario</option>       
                                            </select>         
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </div>
                                </label>
                            </div>
                            <div class=" text-center">
                                <div class="btn-container">
                                    <button type="submit" class="btn-guardar" data-bs-toggle="modal" data-bs-target="#confirmarGuardar">Guardar</button>
                                    <!-- Modal de confirmación para guardar un alumno -->
                                <div class="modal fade" id="confirmarGuardar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Guardar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de guardar el registro?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn-guardar" style="background-color: #92BD89; color: #ffff;" data-bs-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn-guardar">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <div class="alert alert-danger" role="alert">
                                {% for category, message in messages %}
                                {{ message }}
                                {% endfor %}
                            </div>
                            {% endif %}
                            {% endwith %}
                            </div>
                        </div>
                    </form>           
                </div>

                
                <div class="row mb-3">
                    <div class="form-inline">
                        <input type="text" class="form-control" id="busquedaInput" placeholder="Buscar alumno">
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="miTabla" class="table table-bordered m-1 mb-2 " style="background-color: white;">                    
                        <thead>
                            <th class="col-tabla" scope="col">Nombre</th>
                            <th class="col-tabla" scope="col">Fecha de pago</th>
                            <th class="col-tabla" scope="col">Monto</th>
                            <th class="col-tabla" scope="col">Medio de pago</th>
                            <th class="col-tabla" scope="col">Tipo de pago</th>
                            <th class="col-tabla" scope="col" colspan="3"></th>
                        </thead>
                    </div>
                    <tbody>
                        {% for d in data %}
                        <tr>
                            <td class="td-table">{{ d.nombre_alumno.title() }}</td>
                            <td class="td-table">{{ d.fecha_pago.strftime('%d/%m/%Y') }}</td>
                            <td class="td-table">${{ '{:,.2f}'.format(d.monto) }}</td>
                            <td class="td-table">{{ d.medios_de_pago }}</td>
                            <td class="td-table">{{ d.tipo_pago }}</td>
                            <td class="text-center "> 
                                <i class="btn-operacion bi bi-pencil-square " id="btn-editar{{ d.id_ingresos }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.id_ingresos }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"></i>
                            </td>
                            <td class="text-center"> 
                                <a href="{{ url_for('eliminar_ingresos', id_ingresos=d.id_ingresos) }}" data-bs-toggle="tooltip" 
                                data-bs-placement="top" title="Eliminar"><i class="btn-operacion bi bi-trash"></i>
                                </a>

                            </td>
                            <td class="text-center">
                                <a href="{{ url_for('descargar_pdf', id_ingresos=d.id_ingresos) }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Descargar">
                                    <i class="btn-operacion bi bi-file-earmark-pdf"></i>
                                    
                                </a>
                            </td>           
                        </tr>
                        <div class="modal fade" id="modal{{ d.id_ingresos }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ d.nombre_alumno }}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body ">
                                        <form action="{{ url_for('editaringresos', id_ingresos=d.id_ingresos) }}" method="POST">
                                            <div class="row">    
                                                <!-- En el formulario de "Ingresos", muestra el nombre del alumno y agrega un campo oculto para almacenar su valor -->
                                                    <div class="col">
                                                        <label for="nombre_alumno">Nombre del alumno:</label>
                                                        <input type="text" class="form-control " name="nombre_alumno" value="{{ d.nombre_alumno }}" readonly>
                                                        <!-- Agregar un campo oculto para almacenar el valor del nombre del alumno -->   
                                                    </div>
                                                    <div class="col">
                                                        <label>Fecha de pago <span class="campo-obligatorio">*</span></label>                                        
                                                        <input type="date" class="form-control mb-3" name="fecha_pago" value="{{ d.fecha_pago }}" required>
                                                    </div>
                                                    <div class="col">
                                                        <label>Monto <span class="campo-obligatorio">*</span></label>
                                                        <input type="text" class="form-control" name="monto" placeholder="0.00" required value="{{ monto_formateado }}" id="montoInputEdit">
                                                        <script>
                                                            // Agrega este script para establecer el valor formateado en el campo de entrada
                                                            document.addEventListener("DOMContentLoaded", function() {
                                                                var montoInputEdit = document.getElementById("montoInputEdit");
                                                                if (montoInputEdit) {
                                                                    montoInputEdit.value = "{{ monto_formateado }}";
                                                                }
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                                <div class="row"> 
                                                    <div class="col">
                                                        <label class="label-with-arrow">
                                                            Medios de pago <span class="campo-obligatorio">*</span>
                                                            <div class="select-container">
                                                                <select class="form-control mb-3" name="medios_de_pago" required value="{{ form_data.medios_de_pago if form_data else '' }}">
                                                                    <option value="Efectivo" {% if data.medios_de_pago == 'Efectivo' %}selected{% endif %}>Efectivo</option>
                                                                    <option value="Mercado pago" {% if data.medios_de_pago == 'Mercado pago' %}selected{% endif %}>Mercado pago</option>
                                                                    <option value="Cuenta DNI" {% if data.medios_de_pago == 'Cuenta DNI' %}selected{% endif %}>Cuenta DNI</option>
                                                                </select>         
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                                </svg>
                                                            </div>
                                                        </label>
                                                    </div> 
                                                    <div class="col">
                                                        <label class=" label-form label-with-arrow">
                                                            Tipo de pago <span class="campo-obligatorio">*</span>
                                                            <div class="select-container">
                                                                <select class="form-control mb-3" name="tipo_pago" required value="{{ form_data.tipo_pago if form_data else '' }}">
                                                                    <option value="Mensual" {% if data.tipo_pago == 'Mensual' %}selected{% endif %}>Mensual</option>
                                                                    <option value="Diario" {% if data.tipo_pago == 'Diario' %}selected{% endif %}>Diario</option>       
                                                                </select>         
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                                    <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                                </svg>
                                                            </div>
                                                        </label>
                                                    </div>   
                                                    <div class="col">
                                                        <div class="btn-container">
                                                            <button type="submit" class="btn-guardar">Guardar</button>
                                                        <div>
                                                    </div>                                             
                                                </div>
                                               
                                                                     
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <script>
                               // Obtener el campo de búsqueda y la tabla
            var busquedaInput = document.getElementById('busquedaInput');
            var tablaAlumnos = document.querySelector('.table');
            
            // Agregar un evento de escucha para la entrada del usuario
            busquedaInput.addEventListener('input', function() {
                var consulta = busquedaInput.value.toLowerCase();
            
                // Obtener todas las filas de la tabla
                var filas = tablaAlumnos.querySelectorAll('tbody tr');
            
                // Iterar a través de las filas y celdas y ocultar/mostrar según la consulta
                for (var i = 0; i < filas.length; i++) {
                    var fila = filas[i];
                    var mostrarFila = false;
            
                    // Obtener todas las celdas de la fila
                    var celdas = fila.querySelectorAll('td');
            
                    // Iterar a través de las celdas y verificar si alguna contiene la consulta
                    for (var j = 0; j < celdas.length; j++) {
                        var celda = celdas[j];
                        var contenidoCelda = celda.textContent.toLowerCase();
            
                        if (contenidoCelda.includes(consulta)) {
                            mostrarFila = true; // Mostrar la fila si se encuentra una coincidencia
                            break; // No es necesario verificar otras celdas una vez que se encuentra una coincidencia
                        }
                    }
            
                    if (mostrarFila) {
                        fila.style.display = ''; // Mostrar la fila
                    } else {
                        fila.style.display = 'none'; // Ocultar la fila si no hay coincidencias
                    }
                }
            });
                        </script>  
                            <script>
                                // Obtener el campo de entrada por su ID
                                var montoInput = document.getElementById('montoInput');
                                var montoError = document.getElementById('montoError');
                            
                                // Agregar un manejador de eventos para el evento 'input'
                                montoInput.addEventListener('input', function() {
                                    // Obtener el valor ingresado
                                    var valor = montoInput.value;
                            
                                    // Verificar si el valor no es un número válido
                                    if (!isValidNumber(valor)) {
                                        montoError.textContent = 'El monto ingresado no es válido.';
                                    } else {
                                        montoError.textContent = ''; // Borrar el mensaje de error si es válido
                                    }
                                });
                            
                                // Función para verificar si el valor es un número válido
                                function isValidNumber(value) {
                                    // Usar una expresión regular para verificar si el valor contiene solo números y un punto decimal
                                    return /^\d+(\.\d{1,2})?$/.test(value);
                                }
                            </script>                  
                    </tbody>
                </table>
                <div id="paginacion" class="text-right">
                    <button id="anterior" class="btn-lineales"><i class="bi bi-arrow-left-circle"></i></button>
                    <button id="siguiente" class="btn-lineales"><i class="bi bi-arrow-right-circle"></i></button>
                  </div>
            </div>
        </div>
    </div>
    <script>
        const table = document.getElementById("miTabla");
        const rows = table.tBodies[0].rows;
        const perPage = 4; // Número fijo de filas por página.
        let currentPage = localStorage.getItem("currentPage") || 0;
      
        function showPage(page) {
          for (let i = 0; i < rows.length; i++) {
            if (i >= page * perPage && i < (page + 1) * perPage) {
              rows[i].style.display = "";
            } else {
              rows[i].style.display = "none";
            }
          }
        }
      
        function saveCurrentPage() {
          localStorage.setItem("currentPage", currentPage);
        }
      
        document.getElementById("anterior").addEventListener("click", () => {
          if (currentPage > 0) {
            currentPage--;
            showPage(currentPage);
            saveCurrentPage();
          }
        });
      
        document.getElementById("siguiente").addEventListener("click", () => {
          const totalPages = Math.ceil(rows.length / perPage);
          if (currentPage < totalPages - 1) {
            currentPage++;
            showPage(currentPage);
            saveCurrentPage();
          }
        });
      
        // Mostrar la página guardada al cargar la página.
        showPage(currentPage);
      </script>     
{% endblock %}
</body>