
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inicio</title>
    <meta charset="UTF-8"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar mb-5" >
        <a href="{{ url_for('inicio') }}">
            <img src="/static/img/logo.png" alt="Logo">
        </a>
  
    </div>
    <div class="container text-center ">
        <h5 class="mb-5">Bienvenido</h5>
        <div class="row  justify-content-center">
            <div class="col">
                <div class="card p-3" style="width: 18rem; border-radius: 1em;">
                    <a class="link-home" href="{{ url_for('alta') }}">
                        <h5 class="card-title " >Nuevo alumno</h5>
                        <img src="static/img/Matricula.jpeg" class="card-img-top" alt="..."> 
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card p-3" style="width: 18rem; border-radius: 1em;">
                    <a class="link-home" href="{{ url_for('ingresos') }}">
                        <h5 class="card-title">Ingresos</h5>
                        <img src="static/img/ingresos.jpeg" class="card-img-top" alt="...">  
                    </a>   
                </div>
            </div>
            <div class="col">
                <div  class="card p-3" style="width: 18rem; border-radius: 1em;">
                    <a class="link-home" href="{{ url_for('egresos') }}">
                        <h5 class="card-title">Egresos</h5>
                        <img src="static/img/egresos.jpeg" class="card-img-top" alt="...">     
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
</body>
</html>


