{% extends "base.html" %}

<head>
 
    {% block title %}Mis alumnos{% endblock %}
    
</head>

<body>
    {% block content %}


        <div class="col-md-12 p-3">
            <h3 class="text-left subtitulo ">Mis alumnos</h3>
            <div class="">
                <div class="row mb-3">    
                    <div class="d-flex justify-content-between p-3">
                        <input type="text" class="form-control " id="busquedaInput" placeholder="Buscar alumno">
                        <a href="{{ url_for('descargar_lista_alumnos_pdf') }}" target="_blank" class="btn-lineales-paginacion" >Descargar lista de Alumnos</a>
                    </div>
                </div>
                
                <div class="table-responsive ">
                    <table id="miTabla" class="table table-bordered  scrollspy-example" style="background-color: white;">                                    
                        <thead>
                            <tr>
                                <th scope="col" class="col-tabla">Dni</th>
                                <th scope="col" class="col-tabla">Apellido</th>
                                <th scope="col" class="col-tabla">Nombre</th>                             
                                <th scope="col" class="col-tabla" >Email</th>
                                <th scope="col" class="col-tabla">Telefono</th>
                                <th scope="col" class="col-tabla">Nacimiento</th>
                                <th scope="col" class="col-tabla">Inicio</th>
                                <th scope="col" class="col-tabla">Colegio</th>
                                <th scope="col" class="col-tabla">Curso</th>
                                <th scope="col" class="col-tabla">Nivel</th>
                                <th scope="col" class="col-tabla">Nombre tutor</th>
                                <th scope="col" class="col-tabla">Telefono tutor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>  
                                <td class="td-table custom-column email-column">{{ d.dni}}</td>    
                                <td class="td-table custom-column">{{ d.apellido.title() }}</td>
                                <td class="td-table custom-column">{{ d.nombre.title() }}</td>
                                <td class="td-table custom-column email-column">{{ d.email}}</td>
                                <td class="td-table">{{ d.telefono }}</td>
                                <td class="td-table">{{ d.fecha_nacimiento.strftime('%d/%m/%Y') }}</td>
                                <td class="td-table">{{ d.fecha_inicio.strftime('%d/%m/%Y') }}</td>
                                <td class="td-table">{{ d.colegio.title() }}</td>
                                <td class="td-table">{{ d.curso }}</td>
                                <td class="td-table">{{ d.nivel_educativo }}</td>
                                <td class="td-table custom-column">{{ d.nombre_titular.title() }}</td>
                                <td class="td-table">{{ d.telefono_titular }}</td>
                                <td class="text-center"> 
                                    <i class="btn-operacion bi bi-pencil-square text-center btn-editar" data-modal-id="{{ d.id }}" data-bs-toggle="modal" data-bs-target="#modal{{ d.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar"></i>
                                </td>
                                <td class="text-center">
                                    <i class="btn-operacion bi bi-trash" id="btn-eliminar{{ d.id }}" data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" onclick="confirmarEliminacion('{{ d.id }}', '{{ d.apellido }}', '{{ d.nombre }}')"></i>
                                </td>

                            </tr>
                           
                            <!-- MODAL -->
                            <div class="modal fade" id="modal{{ d.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{ d.nombre }}</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/editar/{{ d.id }}" method="POST" onsubmit="return validarFormulario()">
                                                
                                                    <div class="row">
                                                        <div class="col">
                                                            <label class="label-form">DNI <span class="campo-obligatorio">*</span></label>
                                                            <input type="number" id="dni"  class="form-control mb-3" name="dni" required value="{{ d.dni }}"  pattern="[0-9]{8}" maxlength="8" oninput="limitarDigitosDNI();">
                                                        </div>      
                                                        <div class="col">
                                                            <label>Apellido <span class="campo-obligatorio">*</span></label>
                                                            <input type="text" class="form-control mb-3" name="apellido" value="{{ d.apellido }}" required oninput="validarLetras(this)">
                                                            <div id="apellido-error" class="error-message"></div> 
                                                        </div>
                                                        <div class="col">
                                                            <label class="label-form">Nombre <span class="campo-obligatorio">*</span></label>
                                                            <input type="text" class="form-control mb-3" name="nombre" required value="{{ d.nombre }}" required oninput="validarLetras(this)">
                                                            <div id="nombre-error" class="error-message"></div> 
                                                        </div>       
                                                        <div class="col">
                                                            <label class="label-form">Email <span class="campo-obligatorio">*</span></label>
                                                            <input type="text" class="form-control mb-3" name="email" value="{{ d.email }}" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label class="label-form">Telefono <span class="campo-obligatorio">*</span></label>
                                                            <input type="tel" class="form-control mb-3" name="telefono" maxlength="10" value="{{ d.telefono }}" required>
                                                            <div id="telefono-error" class=" error-message"></div> 
                                                        </div>            
                                                        <div class="col">
                                                            <label class="label-form">Fecha de nacimiento <span class="campo-obligatorio">*</span></label>
                                                            <input type="date" class="form-control mb-3" name="fecha_nacimiento" id="fecha_nacimiento"  value="{{ d.fecha_nacimiento }}" required>
                                                            <div id="fecha-nacimiento-error" class=" error-message"></div> 
                                                        </div>                                    
                                                        <div class="col">
                                                            <label class="label-form">Fecha de inicio <span class="campo-obligatorio">*</span></label>
                                                            <input type="date" class="form-control mb-3" name="fecha_inicio" value="{{ d.fecha_inicio }}" required>
                                                            <div id="fecha-inicio-error" class=" error-message"></div> 
                                                        </div>
                                                        <div class="col">
                                                            <label class="label-form">Colegio <span class="campo-obligatorio">*</span></label>
                                                            <input type="text" class="form-control mb-3" name="colegio" value="{{ d.colegio }}" required>
                                                            <div id="colegio-error" class="error-message"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <label class="label-form label-with-arrow">
                                                                Curso <span class="campo-obligatorio">*</span>
                                                                <div class="select-container">
                                                                    <select class="form-control mb-3" name="curso" required>
                                                                        {% for option in ['Primero', 'Segundo', 'Tercero', 'Cuarto', 'Quinto', 'Sexto'] %}
                                                                            <option value="{{ option }}" {% if option == d.curso %}selected{% endif %}>{{ option }}</option>
                                                                        {% endfor %}
                                                                    </select>                               
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                                    </svg>
                                                                </div>
                                                            </label>
                                                        </div>                                                                                                                                            
                                                        <div class="col">
                                                            <label class="label-form label-with-arrow">
                                                                Nivel educativo <span class="campo-obligatorio">*</span>
                                                                <div class="select-container">
                                                                   <select class="form-control mb-3" name="nivel_educativo" required>
                                                                    {% for option in ['Primario', 'Secundario', 'Terciario'] %}
                                                                        <option value="{{ option }}" {% if option == d.nivel_educativo %}selected{% endif %}>{{ option }}</option>
                                                                    {% endfor %}
                                                                </select>

                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                                                    </svg>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="col">
                                                            <label class="label-form"> Nombre tutor <span class="campo-obligatorio">*</span></label>
                                                            <input type="text" class="form-control mb-3" name="nombre_titular" value="{{ d.nombre_titular }}" required>
                                                            <div id="nombre-titular-error" class=" error-message"></div> 
                                                        </div>
                                                        <div class="col">
                                                            <label class="label-form">Teléfono tutor <span class="campo-obligatorio">*</span></label>
                                                            <input type="tel" class="form-control mb-3" name="telefono_titular" maxlength="10" value="{{ d.telefono_titular }}" required>
                                                            <div id="telefono-titular-error" class="error-message"></div> 
                                                        </div>                                                                                         
                                                    </div>   
                                                   
                                                    <div class="text-center">
                                                        <button type="submit" class="btn-guardar btn-guardar-{{ d.id }}">Guardar cambios</button>

                                                    </div>
                                                    <div id="success-message" style="display: none;">Cambios guardados correctamente</div>

                                             </div>    
                                            

                                                                                                   
                                            </form>   
                                         
                
                                        </div>                                                      
                                    </div>  
                                </div>
                            </div>
                           
      
                            {% endfor %}
                        </tbody>
                        
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flash-messages">
                                    {% for message in messages %}
                                        <div class="alert alert-danger">{{ message }}</div>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </table>
                </div>
            </div>
        </div>   

        <!-- VALIDACIONES -->
    <script>
        function validarLongitudDNI() {
            var dniInput = document.getElementById('dni');

            // Obtiene el valor del campo del DNI
            var dniValue = dniInput.value;

            // Verifica si la longitud del DNI es diferente de 8
            if (dniValue.length !== 8) {
                // Muestra una Sweet Alert indicando el error
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'El DNI debe tener 8 dígitos',
                });

                // Devuelve false para evitar que el formulario se envíe
                return false;
            }

            // Devuelve true para permitir que el formulario se envíe
            return true;
        }

    function validarFormulario() {
        // Llama a la función de validación de longitud del DNI
        if (!validarLongitudDNI()) {
            // Si la validación no pasa, devuelve false para evitar que el formulario se envíe
            return false;
        }
        return true;
    }
    </script>
 
        <script>
            function validarColegio() {
                var colegioInput = document.getElementById('colegio');
                var errorDiv = document.getElementById('colegio-error');
        
                // Expresión regular para permitir solo letras y números en el colegio
                var colegioRegex = /^[a-zA-Z0-9\s]+$/;
        
                var valorColegio = colegioInput.value.trim();
        
                if (!colegioRegex.test(valorColegio)) {
                    errorDiv.style.display = 'block';
                    errorDiv.textContent = 'El nombre del colegio solo debe contener letras, números y espacios.';
                    return false;
                } else {
                    errorDiv.style.display = 'none';
                    return true;
                }
            }
        
            // Llama a la función de validación cuando se realiza una entrada en el campo colegio
            var colegioInput = document.getElementById('colegio');
            colegioInput.addEventListener('input', validarColegio);
        </script>
 

    <!-- SCRIPT BUSCADOR -->
        <script>
            // Obtiene el campo de búsqueda y la tabla
            var busquedaInput = document.getElementById('busquedaInput');
            var tablaAlumnos = document.querySelector('.table');
            
            // Agrega un evento de escucha para la entrada del usuario
            busquedaInput.addEventListener('input', function() {
                var consulta = busquedaInput.value.toLowerCase();
            
                // Obteniene todas las filas de la tabla
                var filas = tablaAlumnos.querySelectorAll('tbody tr');
            
                // Iterar a través de las filas y celdas y oculta/muestra según la consulta
                for (var i = 0; i < filas.length; i++) {
                    var fila = filas[i];
                    var mostrarFila = false;
            
                    // Obtiene todas las celdas de la fila
                    var celdas = fila.querySelectorAll('td');
            
                    // Itera a través de las celdas y verifica si alguna contiene la consulta
                    for (var j = 0; j < celdas.length; j++) {
                        var celda = celdas[j];
                        var contenidoCelda = celda.textContent.toLowerCase();
            
                        if (contenidoCelda.includes(consulta)) {
                            mostrarFila = true; // Muestra la fila si se encuentra una coincidencia
                            break; 
                        }
                    }
            
                    if (mostrarFila) {
                        fila.style.display = ''; // Muestra la fila
                    } else {
                        fila.style.display = 'none'; // Oculta la fila si no hay coincidencias
                    }
                }
            });
            </script>  
            <!-- SCRIPT PARA CONFIRMAR ELIMINACIÓN DE ALUMNO --> 
            <script>
                function confirmarEliminacion(id, apellido, nombre) {
                    Swal.fire({
                        title: "Confirmar eliminación",
                        text: "¿Estás seguro de eliminar al alumno " + apellido + " " + nombre + "?",
                        icon: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#FBD374",
                        cancelButtonColor: "#FBD374",
                        confirmButtonText: "Sí, eliminar",
                        cancelButtonText: "Cancelar"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $.ajax({
                                type: "GET",  
                                url: "/eliminar/" + id,
                                success: function (response) {
                                    if (response.success) {
                                        Swal.fire("Alumno eliminado correctamente", "", "success").then(() => {
                                            // Recarga la página
                                            location.reload();
                                        });
                                    } else {
                                        Swal.fire("Error al eliminar al alumno", "Ocurrió un error durante la eliminación.", "error");
                                    }
                                }
                            });
                        }
                    });
                }
            </script>   
           
    {% endblock %}           
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>   
    
</body>             
                            
