html,
body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5 !important;
}

/*Log In*/
.top-bar{
  height:4em; 
  background-color: #FBD374;
  display: flex;
  align-items: center;
  border-radius: 0.5em;
}
.top-bar img {
  margin-right: 10px; 
}
.form-signin {
  width: 100%;
  height: 30em;
  max-width: 330px;
  margin: auto;
  background-color: #92BD89;
  border-radius: 0.5em;
}
.input-login{
  height: 2.5em !important;
  border-radius: 1em;
  border: none;
  background-color: #f5f5f5;
}
.txt-login{
  color: #ffff;
  font-weight: 300;
  font-size: 1.5em;
}
.btn-login{
  background-color: #FBD374;
  color: #ffff;
  border-radius: 1em;
  border: none;
}
.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;

}
.img-perfil{
  background-color: #FBD374;
  border-radius: 3em;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}
.alert{
  background-color: #8b8b8b;
  color: #f0f0f0;
  margin-top: 10rem;
}

/*Home*/

.navbar {
  background-color: #7ea56a;
}
.text-navbar{
  color: #f5f5f5;
  text-decoration: none;
}
.link-home {
  text-decoration: none !important;
  color: #333333;
}
.navbar img {
  float: left;
  margin-right: 10px;
  height: 40px;
}
.txt-home{
  margin: 0 auto;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; /* Ancho del formulario, ajusta según tus necesidades */
  text-align: center; /* Alinea el contenido al centro */
}
.card {
  width: 12rem;
  height: 12rem;
  transition: width 0.3s ease, height 0.3s ease; /* Agrega una transición suave */
  border-radius: 1em;
}
.card:hover{
  width: 12.2rem !important;
  height: 12.2rem !;
}
.card-title{
  color: #333333;
  font-weight: 400;
}
.card-title:hover{
  color: #7ea56a;
  font-weight: 500;
}

/*TABS*/
.nav-link{
  text-decoration: none;
  color: #333333 !important;
  font: 1em;
  font-weight: 400;
}

/*Alta de alumnos*/
.error-message {
  display: none;
  position: relative; 
  background-color: #7ea56a;
  color: #ffffff;
  padding: 5px;
  border: 1px solid #7ea56a;
  border-radius: 4px;
  top: -7rem; 
  margin-left: 0; 
  font-size: 14px;
}

.error-message::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #ffcccc transparent transparent transparent; 
}
.form-label-alta{
  justify-content: left !important;
  align-items: left !important;
}
.campo-obligatorio {
  color: red;
}
.custom-select {
  width: 100%;
}
.label-form{
  font-size: 0.9em;
}
.label-with-arrow {
  position: relative;
}
.label-with-arrow select {
  padding-right: 30px; 
}
.label-with-arrow svg {
  position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%);
  fill: currentColor; 
}
.btn-operacion{
  padding: 0.4em;
  color: #7ea56a;
  font-weight: 600;
  border-radius: 1em;
  cursor: pointer;
  border: none;
  background-color: #ffff;
}
.col-tabla{
  width: 6%;
  font-size: 0.8em;
  font-weight: 500;
  text-align: center;
}
.td-table{
  font-size: 0.8em;
}
.btn-guardar {
  background-color: #FBD374;
  color: white;
  border: none !important;
  border-radius: 1em;
  padding: 0.5em;
  font-weight: 400;
  text-decoration: none !important;
}
.btn-guardar:hover {
  color: white;
}
.optional-text {
  color: gray; 
  font-size: 14px; 
  margin-left: 5px; 
}
.btn-container {
  background-color: white;
  padding: 1em;
}
.form-control{
  width: 11em !important;
  height: 1.8em;
  padding: 0 !important;
  padding-left: 0.5rem !important;
}
.btn-eliminar{
  background-color: #FBD374;
  color: white;
}
.card-contenedor{
  background-color: #fff;
}
.nav-item {
  margin: 0 10px;
}
.nav-link {
  text-decoration: none;
  color: #ffff !important;
  padding: 10px;
  border-bottom: 3px solid transparent;
}
.nav-link:hover {
  border-color: #FBD374; 
}
.subtitulo{
  color: #7ea56a;
  font-size: 1.5em;
  font-weight: 400;
}
.calendar {
  font-family: Arial, sans-serif;
  text-align: center;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#prev-month, #next-month {
  cursor: pointer;
  font-size: 20px;
}
.calendar-table {
  width: 100%;
  border-collapse: collapse;
}
.calendar-table th {
  background-color: #f0f0f0;
  padding: 8px;
}
.calendar-table td {
  padding: 8px;
  border: 1px solid #ddd;
}
#month-year {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .label-form {
      font-size: 16px;
  }
}

#success-message {
  width: 20em;
  height: 20em;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #7ea56a;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 9999;
}

#success-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#success-box img {
  max-width: 100px;
  margin-bottom: 10px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    float: right;
    cursor: pointer;
}

/*ESTILOS PARA EL MODAL DEL CALENDARIO:

/* Estilos para el modal del calendario */
.modal-calendar {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Estilos para el contenido del modal del calendario */
.modal-content-calendar {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Estilos para el botón de cerrar del modal del calendario */
.close-calendar {
  float: right;
  cursor: pointer;
}

/* Estilos para la tabla dentro del modal del calendario */
#horarios-table {
  width: 100%;
  border-collapse: collapse;
}

#horarios-table th, #horarios-table td {
  padding: 8px;
  border: 1px solid #ddd;
}
.col-tabla {
  width: 8%;
}
.td-table.custom-column {
  width: 100px; /* Ancho igual para todas las celdas estilizadas */
  word-wrap: break-word; /* Permite que el texto se divida en varias líneas si es necesario */
  overflow-wrap: break-word; /* Compatibilidad con navegadores */
}

/* Establecer el ancho máximo para el campo "Email" en 15 caracteres */
.td-table.custom-column.email-column {
  max-width: 15em; /* Puedes ajustar el valor según tus necesidades */
}

/* Establecer el estilo para convertir solo la primera letra en mayúscula en la columna "Email" */
.td-table.custom-column.email-column {
  text-transform: capitalize;
}

.alert-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.alert-message {
  display: inline-block;
  text-align: left;
}

.alert {
  /* Estilos para tus alertas, por ejemplo: */
  background-color: #FF0000; /* Fondo rojo */
  color: #FFFFFF; /* Texto blanco */
  padding: 10px;
  border-radius: 5px;
  /* Agrega otros estilos personalizados según tus preferencias */
}

.fc-button-group{
  background-color: #7ea56a;
}

a{
  text-decoration: none !important;
  color: #333333 !important;
  font-weight: 400 !important;
}
.form-modal-calendario{
  padding: 0.2em;
  border-radius: 0.5em;
  border: 1px solid #cccccc;
}

.btn-lineales{
  border: none;
  color: #7ea56a !important;
  border-radius: 0.5em !important;
  padding: 0.1em;
  text-decoration: none !important;
}
.btn-lineales-paginacion{
  border: 1px solid #7ea56a;
  color: #7ea56a !important;
  border-radius: 0.5em !important;
  padding: 0.4em;
  text-decoration: none !important;
}


#paginacion {
  text-align: right; /* Alinea el contenido a la derecha */
}

.swal2-styled.swal2-confirm{
  background-color: #7ea56a !important;
}

.btn-manual{
  color: #FFFFFF;
  border-radius: 1em;
  border: 1px solid #FFFFFF;
}
.cruz{
  border: none !important;
  color:#7ea56a !important;
}